<div class="container">
  <div class="row">
    <mat-form-field appearance="standard" class="col-md-8 mx-auto">
      <mat-label>Filter</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ex. ium"
        #input
      />
    </mat-form-field>
  </div>

  <div class="row overflow-auto">
    <div class="d-flex gap-2" *ngFor="let user of users">
      <button mat-mini-fab (click)="openDialog()" class="mt-2">
        <mat-icon>edit</mat-icon>
      </button>
      <div>
        <app-user></app-user>
        <app-post></app-post>
      </div>
    </div>
  </div>

  <!-- <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
        <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
            <th mat-header-cell *matHeaderCellDef> {{column}} </th>
            <td mat-cell *matCellDef="let element">
               
            </td>
        </ng-container>
    
        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    <div class="example-element-description">
                        <app-post></app-post>
                    </div>
                </div>
            </td>
        </ng-container>
    
        <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
            [class.example-expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell">No data matching the filter "{{input.value}}"</td>
        </tr>
    </table> -->

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell">No data matching the filter "{{ input.value }}"</td>
  </tr>

  <div class="spinner" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>
</div>
