<!-- <div class="container pt-5" style="height: 100vh">
  <router-outlet></router-outlet>
</div> -->

<div class="container text-light pb-5">
  <div
    class="display-6 mt-5 text-center"
    style="color: #69f0ae"
    [matTooltip]="title"
  >
    Users <b>&</b> Posts
  </div>
  <app-table></app-table>
  <footer class="my-5 text-center">
    <a
      [routerLink]="['https://github.com/rodionsibov/studious-umbrella']"
      class="text-light"
      [matTooltip]="
        'Viewing existing code on GitHub. Users & Posts App. Angular. NgRx Reactive State. Angular Material'
      "
      ><i class="fab fa-github fa-2x"></i
    ></a>
    <p class="mt-1 small text-muted">{{ year }}</p>
  </footer>
</div>
<mat-progress-bar mode="indeterminate"></mat-progress-bar>
