<table cellspacing="8">
    <tr>
        <td>
            <mat-form-field appearance="fill">
                <mat-label>First name</mat-label>
                <input matInput value="Google">
            </mat-form-field>
        </td>
        <td>
            <mat-form-field appearance="fill">
                <mat-label>First name</mat-label>
                <input matInput value="Google">
            </mat-form-field>
        </td>
        <td>
            <mat-form-field appearance="fill">
                <mat-label>First name</mat-label>
                <input matInput value="Google">
            </mat-form-field>
        </td>
        <td>
            <mat-form-field appearance="fill">
                <mat-label>First name</mat-label>
                <input matInput value="Google">
            </mat-form-field>
        </td>
    </tr>
</table>