<div class="container">
  <div class="row">
    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ex. ium"
        #input
      />
    </mat-form-field>
  </div>

  <table
    multiTemplateDataRows
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8"
  >
    <ng-container
      *ngFor="let column of columns"
      [matColumnDef]="column.columnDef"
    >
      <th mat-header-cell *matHeaderCellDef >
        {{ column.header }}
      </th>
      <td mat-cell *matCellDef="let row">
        {{ column.cell(row) }}
      </td>
    </ng-container>
  
    <ng-container matColumnDef="expandedDetail">
      <td
        mat-cell
        *matCellDef="let element"
        [attr.colspan]="displayedColumns.length"
      >
        <div
          class="example-element-detail"
          [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"
        >
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam
            esse velit possimus explicabo similique libero accusantium qui.
            Doloremque maiores tempora modi dolores illo dicta, dolor quo quod.
            Natus, at officiis?
          </p>
        </div>
      </td>
    </ng-container>
  

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <tr
      mat-row
      *matRowDef="let element; columns: displayedColumns"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: ['expandedDetail']"
      class="example-detail-row"
    ></tr>
  
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
    
  </table>

<div class="spinner" *ngIf="isLoadingResults">
  <mat-spinner></mat-spinner>
</div>
