<div class="row">
  <div class="d-flex gap-2">
    <mat-form-field appearance="fill">
      <mat-label>username</mat-label>
      <input matInput value="Input Field" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>email</mat-label>
      <input matInput disabled value="Input Field" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>name</mat-label>
      <input matInput disabled value="Input Field" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>street</mat-label>
      <input matInput disabled value="Input Field" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>suite</mat-label>
      <input matInput disabled value="Input Field" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>city</mat-label>
      <input matInput disabled value="Input Field" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>zipcode</mat-label>
      <input matInput disabled value="Input Field" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>phone</mat-label>
      <input matInput disabled value="Input Field" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>website</mat-label>
      <input matInput disabled value="Input Field" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>company name</mat-label>
      <input matInput disabled value="Input Field" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>company catchPhrase</mat-label>
      <input matInput disabled value="Input Field" />
    </mat-form-field>
  </div>
</div>
